* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font-family: 'Abel', sans-serif;
}
	
#main-title {
	font-family: 'Russo One', sans-serif;
	font-size: 1.75em;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 50px;
}

#content {
	width: 90%;
	margin: 20px auto 30px auto;
	
}

#section1, #section2, #section3 {
	padding: 15px;
	position: relative;
	border: 1px solid black;


}
#section1 {
	background-color: #0C1821;
}

#section2 {
	background-color: #1B2A41;

}

#section3 {
	background-color: #324A5F;
}
/* .section-header {
	float: right;
	background-color: gray;
	opacity: 0.7;
	position: absolute;
	top: 0;
	right: 0;
	margin-bottom: 20px;
}
*/
#title-section1, #title-section2, #title-section3 {

	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font-family: 'Shrikhand', cursive; 
	width: 40%;
	text-align: center;
	margin-top: 0;
	border: 1px solid black;

}

#title-section1 {
	background-color: #0EB1D2;
}

#title-section2 {
	background-color: #BC412B;
}

#title-section3 {

	background-color: #5C415D;
}

p {
	clear: both;
	margin-top: 40px;
}

/* **************** Styles for Desktop Computer ********************/
 @media (min-width: 992px) {

 	#section1, #section2, #section3 {
 		width: 30%;
 		float: left;
 		margin: 1%;
 	}

 }

 /* ***************Styles for Tablets **************************/
 @media (min-width: 768px) and (max-width: 991px) {

 	#section1, #section2 {
 		width: 48%;
 		float: left;
 		margin: 1%;
 	}
 	#section3 {
 		clear: both;
 		width: 98%;
 		margin: 1%;

 	}
 }

 /* **************Styles for Mobile Phones **********************/
 @media (max-width: 767px) {

 	#section1, #section2, #section3 {
 		width: 90%;
 		float: left;
 		margin: 2%;
 	}

 }